body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s;
}

.border-button:hover {
    border-width: 10px;
    transition: border-width 0.3s;
}

.container {
    max-width: 2000px;
    width: 100%;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    transition: box-shadow 0.3s;
}

.container:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    margin-bottom: 20px; 
    transition: color 0.3s;
}

h1:hover {
    color: #4caf50;
}

form {
    margin-top: 30px; 
}

label,
input,
select,
textarea {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
}

label {
    display: block;
    text-align: left;
    font-size: 16px;
    margin-bottom: 5px; 
}

input,
select,
textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f8f8f8;
    transition: border-color 0.3s, background-color 0.3s;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #4caf50;
    background-color: #fff;
}

button,
.photo-upload,
.voice-upload {
    background-color: #4caf50;
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: calc(100% - 20px);
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 15px;
    margin-top: 10px; 
}

button:hover,
.photo-upload:hover,
.voice-upload:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#feedback {
    margin-top: 20px;
    color: #4caf50;
    font-size: 18px;
    transition: color 0.3s;
}

#audioPlayer {
    width: calc(100% - 20px);
    margin-top: 20px;
    display: none;
}

.photo-upload,
.voice-upload {
    background-color: #4caf50;
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.photo-upload:hover,
.voice-upload:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.photo-section {
    position: relative;
    margin-bottom: 20px;
}

#capturedImage {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    display: none;
    transition: opacity 0.3s, transform 0.3s;
}

#capturedImage:hover {
    transform: scale(1.5);
}
